{{ define "main" }}
  {{ partial "page-header" . }}


  <section class="section">
    <div class="container">
      <div class="row">
        {{ range .RegularPages }}
          <div class="md:col-6 lg:col-4 mb-14">
            {{ partial "components/author-card" . }}
          </div>
        {{ end }}
      </div>
      <div class="row">
          <p>Congratulations, you have found this site's Easter Egg.</p>  
          <p>Mention the Women in White and the Man in Black to Richard to win a free coffee! 🏆☕️🥳</p>
          <p>You''ll need to find your own way back out of here though...</p>
      </div>
    </div>
  </section>
{{ end }}
